@page "/meeting/{MeetingId}"
@inject agiprog.Data.MeetingService meetingService
@inject NavigationManager NavigationManager
    <section>
        <div class="wrapper">
            <h1 class="alpha lato thin thick-header-line uppercase ls-small">
                Welcome to your progress board : @meeting.RoadMap.name
            </h1>
        </div>
    </section>
    <li class="w3-bar">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
        <img src="img_avatar2.png" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
            <span class="w3-large">Mike</span><br>
            <span>Web Designer</span>
        </div>
    </li>
@code {
    [Parameter]
    public String MeetingId { get; set; }

    public agiprog.Data.Meeting meeting { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var result = await meetingService.FindMeeting(MeetingId);
        if (result == null)
            NavigationManager.NavigateTo("/");
        meeting = result;
       
    }
}
