@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                InfoIcon="fa fa-info"
                ErrorIcon="fa fa-bug"
                WarningIcon="fa fa-exclamation"
                ShowProgressBar="true" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
