<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item no-right-margin">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="nav-item no-right-margin">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    <NavLink class="nav-link" href="adminMeeting">
                        <span class="oi oi-plus" aria-hidden="true"></span> Meetings
                    </NavLink>
                    <NavLink class="nav-link" href="adminRoadmap">
                        <span class="oi oi-plus" aria-hidden="true"></span> Roadmap
                    </NavLink>
                    <NavLink class="nav-link" href="adminStep">
                        <span class="oi oi-plus" aria-hidden="true"></span> Steps
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
</ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
